body {
  width: 960px;
  margin: 0px auto;
  background-color: #231f20;
  color: #eaeaea;
}

body div ul li {
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
}

body ul {
  border: 10px groove #ad974f;
  background-color: #8E793E;
}

h1 {
  text-align: center;
}