body {
  width: 960px;
  margin: 0px auto;
  background-color: #231f20;
  color: #eaeaea;
}

body p {
  margin-bottom: 40px;
}

body div ul li {
  display: inline;
  padding-left: 60px;
  padding-right: 60px;
}

body ul {
  border: 10px groove #ad974f;
  background-color: #8E793E;
  box-shadow: 0 0 0 1rem #ad974f;
  border-radius: 6px;
}

h1 {
  text-align: center;
}